body {
    background-color: rgb(85, 199, 100);
}

h1 {
    color: rgb(23, 66, 27);
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}
.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    text-align: center;
}